{% extends './base.html' %}

{% block title %}
    update Data
{% endblock %}

{% block heding %}
    Update Cricketer
{% endblock heding %}


{% block content %}

    <div class="form-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-field">
                <label for="{{ form.name.id_for_label }}">Name</label>
                {{ form.name }}
            </div>
            <div class="form-field">
                <label for="{{ form.age.id_for_label }}">Age</label>
                {{ form.age }}
            </div>
            <div class="form-field">
                <label for="{{ form.jersey_number.id_for_label }}">Jersey Number</label>
                {{ form.jersey_number }}
            </div>
            <div class="form-field">
                <label for="{{ form.total_runs.id_for_label }}">Total Runs</label>
                {{ form.total_runs }}
            </div>
            <div class="form-field">
                <label for="{{ form.total_centuries.id_for_label }}">Total Centuries</label>
                {{ form.total_centuries }}
            </div>
            <div class="form-field">
                <label for="{{ form.total_wickets.id_for_label }}">Total Wickets</label>
                {{ form.total_wickets }}
            </div>
            <div class="form-field">
                <label for="{{ form.matches_played.id_for_label }}">Matches Played</label>
                {{ form.matches_played }}
            </div>
            <div class="form-field">
                <label for="{{ form.batting_average.id_for_label }}">Batting Average</label>
                {{ form.batting_average }}
            </div>
            <div class="form-field">
                <label for="{{ form.strike_rate.id_for_label }}">Strike Rate</label>
                {{ form.strike_rate }}
            </div>
            <div class="form-field">
                <label for="{{ form.highest_score.id_for_label }}">Highest Score</label>
                {{ form.highest_score }}
            </div>
            <div class="form-field">
                <label for="{{ form.country.id_for_label }}">Country</label>
                {{ form.country }}
            </div>
            <div class="form-field">
                <label for="{{ form.is_captain.id_for_label }}">Is Captain?</label>
                {{ form.is_captain }}
            </div>
            <div class="form-field">
                <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
                {{ form.date_of_birth }}
            </div>
            <div class="form-field">
                <label for="{{ form.player_type.id_for_label }}">Player Type</label>
                {{ form.player_type }}
            </div>
            <button type="submit" class="submit-btn">update Cricketer</button>
        </form>
    </div>

{% endblock %}